vendor-prefixes ?= moz webkit o ms official


@font-face
    font-family 'iconitos'
    src url('../fonts/icomoon.eot?hqg4h2')
    src url('../fonts/icomoon.eot?#iefixhqg4h2') format('embedded-opentype'),url('/fonts/icomoon.woff?hqg4h2') format('woff'),url('../fonts/icomoon.ttf?hqg4h2') format('truetype'),url('../fonts/icomoon.svg?hqg4h2#icomoon') format('svg')
    font-weight normal
    font-style normal


    
.tabla
    display none
    position absolute
    left 38%
    top 10%
           
    p
        color white
        font-size 35px
        font-weight 800
        text-align center 
        
    ul 
        border-radius 5px
        background white
        color #555
        font-size 18px
        text-align center
        height 200px
        line-height 30px
        margin 0
        padding 0
        overflow-y auto
        white-space nowrap
        width 300px
        
        li
            display block