.mapcanvas
    background blanco
    border-radius 10px
    height 250px
    margin 0 0 100px 25%
    opacity 0.9
    position absolute
    top 30%
    right 15%
    width 400px
    
.world
        position absolute
        left 15%
        top 30%
        img
            width 40%
    .contenido
        background #35618C
        border-radius 25px
        opacity 0.95
        padding 1em
        position absolute
        top -70px
        width 450px
                    

        &:before
            border-bottom 20px solid transparent
            border-left 20px solid #35618C
            content""
            position absolute
            top 80px
            left 150px

        h2
            color white
            font-size 25px
            margin 0
            padding 0
            text-align center

        p
            color white
            font-size 18px
            margin 0
            padding 0
            text-align center