{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/elegir.css">
{% endblock %}

{% block content %}


	   	<div class='tabla'> 
        
            <p>Quiero ir a...</p>

            <ul>
              {% for lugares in data%}
                <li> <a href=ruta?destino={{lugares.nombre}}>{{lugares.nombre}}</a></li>
              {% endfor %}
            </ul>

        </div>

        <div class="chat">
        	<div class="world">
                <div class="contenido">
                    <h2></h2>
                    <p>
                        ¿Quieres charlar para encontrar algunos lugares interesantes?
                    </p>
                </div>
                <img src="imagenes/globe1.svg" alt="world"> 
            </div>

            <div class="answers">
            	<input class="respuesta"   size="30">
                <a hrerf='' class="go">Vamos</a>
                <img src="imagenes/rocketship8.png" alt="nave" class="nave">
            </div>
        </div>


{% endblock %}

{% block scripts %}
  <script src='js/elegir.js'></script>
{% endblock %}