{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/elegir.css">
{% endblock %}

{% block content %}


	   	<div class='tabla'> 
            <p>Quiero ir a...</p>

            <!--<table>
              <tbody>
                <tr>
                  <td> <a href="javascript:pasarVariables('/ruta','Francia')"> <img src="/imagenes/france.png"> <p>Francia</p> <p class= 'flechita'></p></a> </td>
                </tr>

                <tr>
                 <td> <a href="javascript:pasarVariables('/ruta','Reino Unido')"> <img src="/imagenes/united_kingdom.png"> <p>Reino Unido</p> <p class= 'flechita'></p></a> </td> 
                </tr>

                <tr>
                  <td> <a href="javascript:pasarVariables('/ruta','Italia')"> <img src="/imagenes/italy.png"> <p>Italia</p> <p class= 'flechita'></p></a> </td> 
                </tr>

                <tr>
                 <td> <a href="javascript:pasarVariables('/ruta','España')"> <img src="/imagenes/spain.png"> <p>España</p> <p class= 'flechita'></p></a>  </td>
                </tr>

                <tr>
                 <td> <a href="javascript:pasarVariables('/ruta','Alemania')"> <img src="/imagenes/germany.png"> <p>Alemania</p> <p class= 'flechita'></p></a>  </td>
                </tr>
              </tbody>
            </table>-->

            <ul>
              {% for lugares in data%}
                <li>{{lugares.nombre}}</li>
              {% endfor %}
            </ul>

        </div>


{% endblock %}

{% block scripts %}
  <script src='js/elegir.js'></script>
{% endblock %}