{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/elegir.css">
{% endblock %}

{% block content %}


	   	<div class='tabla'> 
            <p>Quiero ir a...</p>

            <table>
              <tbody>
                <tr>
                  <td>ban</td>
                  <td>algun lugar</td>
                  <td>flechita</td>
                </tr>

                <tr>
                  <td>ban</td>
                  <td>algun lugar</td>
                  <td>flechita</td>
                </tr>

                <tr>
                  <td>ban</td>
                  <td>algun lugar</td>
                  <td>flechita</td>
                </tr>

                <tr>
                  <td>ban</td>
                  <td>algun lugar</td>
                  <td>flechita</td>
                </tr>
              </tbody>
            </table>

        </div>


{% endblock %}