{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
        
                   <div class="world">
                      <div class="contenido">
                         <h2>World</h2>
                          <p>
                              Tengo lugares maravillosos, dejame contarte de ellos
                          </p>
                      </div>
                       <img src="/imagenes/globe1.svg" alt="world"> 
                   </div>

                   <div class="pregunta">
                     <p> ¿Sabes a donde quieres ir? </p>
                     <a href="/ir" class="go">Si</a>
                     <a href="/elegir" class="search">No</a>
                     <img src="/imagenes/rocketship8.png" alt="nave" class="nave">
                   </div>

{% endblock %}

{% block scripts%}
  
      <script src='/js/places.js'></script>

{% endblock %}

