{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/ruta.css">
{% endblock %}

{% block content %}
	<div class="world">
       <div class="contenido">
          <h2></h2>
           <p>
           </p>
       </div>
        <img src="/imagenes/globe1.svg" alt="world"> 
    </div>
    <div class="mapcanvas"></div>
{% endblock %}

{% block scripts %}
  <script src="http://maps.google.com/maps/api/js?sensor=false" ></script>
	<script src="js/mapa.js" ></script>
  <script src="js/info.js" ></script>
{% endblock %}